@inherits ProductCategoryNavMennuBase

@if(productCategoryDtos == null && ErrorMessage == null){
	<DisplaySpinner/>
}else if(ErrorMessage != null){
	<DisplayError ErrorMessage="@ErrorMessage"/>
}else{
	@foreach(var productCategory in productCategoryDtos){
		var link = "/ProductsByCategory/" + productCategory.Id;
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="@link">
				<span class="@productCategory.IconCSS"></span>   @productCategory.Name
			</NavLink>
		</div>
	}
}

